*{
    margin: 0;
    padding: 0;
}
body{
    background: url('lightpeachtexture.png');
}
#p{
    position: relative;
    left: 575px;
    font-size: 30px;
    top: -27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff005d;
    font-weight: bolder;

}
.picone{
    padding: 70px;
    position: relative;
    left: 150px;
    
}
h1{
    margin: 50px;
    padding: 20px;
    position: relative;
    left: 610px;
    font-family: cursive;
    font-size: 50px;
}
.one{
    position: relative;
    left: 500px;
    top: -280px;
}
.one h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.one p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
a:link{
    position: relative;
    left: 15px;
    text-decoration: none;
    color: brown;
    font-size: 20px;
}
a:hover{
    color: #ff005d;
}

.pictwo{
    position: relative;
    left: 200px;
    top: -100px;
}
.two{
    position: relative;
    left: 500px;
    top: -330px;
}
.two h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.two p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bigtwo{
    position: relative;
    top: -90px;
}
.picthree{
    position: relative;
    left: 200px;
    top: -100px;
}
.three{
    position: relative;
    left: 500px;
    top: -310px;
}
.three h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.three p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bigthree{
    position: relative;
    top: -190px;
}
.picfour{
    position: relative;
    left: 200px;
    top: -100px;
}
.four{
    position: relative;
    left: 500px;
    top: -310px;
}
.four h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.four p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bigfour{
    position: relative;
    top: -290px;
}
.picfive{
    position: relative;
    left: 200px;
    top: -100px;
}
.five{
    position: relative;
    left: 500px;
    top: -335px;
}
.five h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.five p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bigfive{
    position: relative;
    top: -390px;
}
.picsix{
    position: relative;
    left: 200px;
    top: -100px;
}
.six{
    position: relative;
    left: 500px;
    top: -335px;
}
.six h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.six p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bigsix{
    position: relative;
    top: -490px;
}
.picseven{
    position: relative;
    left: 200px;
    top: -100px;
}
.seven{
    position: relative;
    left: 500px;
    top: -335px;
}
.seven h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.seven p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bigseven{
    position: relative;
    top: -590px;
}
.piceight{
    position: relative;
    left: 200px;
    top: -100px;
}
.eight{
    position: relative;
    left: 500px;
    top: -335px;
}
.eight h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.eight p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bigeight{
    position: relative;
    top: -690px;
}
.picnine{
    position: relative;
    left: 200px;
    top: -100px;
}
.nine{
    position: relative;
    left: 500px;
    top: -335px;
}
.nine h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.nine p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bignine{
    position: relative;
    top: -790px;
}
.picten{
    position: relative;
    left: 200px;
    top: -100px;
}
.ten{
    position: relative;
    left: 500px;
    top: -335px;
}
.ten h3{
    font-size:25px;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
}
.ten p{
    margin: 30px;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.bigten{
    position: relative;
    top: -890px;
}
h3{
    font-weight:bolder;
    color: brown;
}
#new{
    position: relative;
    left: 600px;
    top: 150px;
}