#container{
    width: 500px;
    margin: 0 auto;
}
form{
    background-color: #4cbdbd;
    padding: 20px;
    font-family: helvetica,arial,sans-serif;
}
form fieldset{
    background-color: #f18466;
    padding: 40px;
    border: solid 1px white;
}
form legend{
    border: solid 1px #333;
    background-color: hsl(13, 82%, 53%);
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}
form input,form textarea{
    display: block;
    margin-bottom: 2px;
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
}
form label{
    font-size: 11px;
    text-transform: uppercase;
}
form input[type="text"],form input[type="email"],form textarea{
    padding: 10px;
    font-size: 20px;
    font-family:  helvetica,arial,sans-serif;
    color: white;
    border: solid 1px #b90707;
    background-color: rgb(150, 192, 192);
}
form textarea{
    width: 300px;
    height: 100px;
}
form input[type="submit"]{
    border:none;
    background-color: hsl(338, 77%, 57%);
    height: 40px;
    padding: 0 20px;
    border: solid 1px #d40c0c;
    color: white;
    font-weight: bold ;
    font-family:  helvetica,arial,sans-serif;
    cursor: pointer;
}