* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
}

body {
  padding: 40px;
  font-family: Georgia, Times, serif;
  color: #373737;
}

h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
  font-family: Helvetica, Arial, sans-serif;

  font-weight: bold;
}

h1 {
  font-size: 3.6em; 
}

h2 {
  font-size: 2.6em; 
}

h3 {
  font-size: 1.6em; 
  letter-spacing: -1px; 
  text-indent: 80px; 
  line-height: 1.3;
}

span {
  text-decoration: line-through;
}

em {
  text-transform: capitalize;
}

strong {
  text-transform: uppercase;
  font-weight: bold;
}

#container {
  width: 600px;
  margin: 0 auto;
}

/* CSS Floats */

#floats {
  background: #d41
}

#floats #container {
  background: white;
  padding: 20px;
}

#brad1 {
  float: right;
  margin: 0 0 10px 20px;
}

#box1 {
  width: 200px;
  height: 200px;
  background: red;
  float: right;
}

#mainColumn {
  width: 250px;
  float: left;
  background: #555;
  color: white;
  padding: 50px;
  margin-bottom: 20px;
}

#sidebar {
  width: 140px;
  float: right;
  background: #fc3;
  margin-bottom: 20px;
  padding: 40px;
}

#footer {
  clear: both;
  background: #333;
  color: white;
  padding: 20px;
  margin: 20px 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#paragraph1 {
  clear: right;
}